In [15]:
import numpy as np
import pandas as pd
import seaborn as sns

from scipy.stats import norm
import scipy.stats

In [16]:
#Load the data set
iris = sns.load_dataset("iris")
iris = iris.rename(index = str, columns = {'sepal_length':'1_sepal_length','sepal_width':'2_sepal_width', 'petal_length':'3_petal_length', 'petal_width':'4_petal_width'})

df1 = iris[["1_sepal_length", "2_sepal_width",'species']]

In [3]:
df1

     1_sepal_length  2_sepal_width    species
0               5.1            3.5     setosa
1               4.9            3.0     setosa
2               4.7            3.2     setosa
3               4.6            3.1     setosa
4               5.0            3.6     setosa
..              ...            ...        ...
145             6.7            3.0  virginica
146             6.3            2.5  virginica
147             6.5            3.0  virginica
148             6.2            3.4  virginica
149             5.9            3.0  virginica

[150 rows x 3 columns]

In [17]:
#Estimating the parameters
mu_list = np.split(df1.groupby('species').mean().values,[1,2])
std_list = np.split(df1.groupby('species').std().values,[1,2], axis = 0)
pi_list = df1.iloc[:,2].value_counts().values / len(df1)

In [5]:
pi_list

array([0.33333333, 0.33333333, 0.33333333])

In [6]:
mu_list

[array([[5.006, 3.428]]), array([[5.936, 2.77 ]]), array([[6.588, 2.974]])]

In [18]:
def predict_NB_gaussian_class(X,mu_list,std_list,pi_list):
#Returns the class for which the Gaussian Naive Bayes objective function has greatest value
    scores_list = []
    classes = len(mu_list)
    for p in range(classes):
        score = (norm.pdf(x = X[0], loc = mu_list[p][0][0], scale = std_list[p][0][0] )
        * norm.pdf(x = X[1], loc = mu_list[p][0][1], scale = std_list[p][0][1] )
        * pi_list[p])
        scores_list.append(score)
        
    return np.argmax(scores_list)

In [19]:
X = np.array(df1.iloc[:, 0:2])

In [20]:
y_labels = df1.iloc[:,2].replace({'setosa':0,'versicolor':1,'virginica':2}).copy()

C:\Users\WinIF Chung\AppData\Local\Temp\ipykernel_1964\312446389.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y_labels = df1.iloc[:,2].replace({'setosa':0,'versicolor':1,'virginica':2}).copy()

In [10]:
 y_labels

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [21]:
y_pred = np.zeros(X.shape[0])
for i in range(X.shape[0]):
    y_pred[i] = predict_NB_gaussian_class( X[i], mu_list, std_list, pi_list)

print(y_pred)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 2. 2. 2. 1. 2. 1. 2. 1. 2. 1. 1. 1. 1. 1. 1. 2. 1. 1. 1. 1. 1. 1.
 1. 1. 2. 2. 2. 2. 1. 1. 1. 1. 1. 1. 1. 2. 2. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 2. 1. 2. 1. 2. 2. 1. 2. 2. 2. 2. 1. 2. 1. 1. 2. 2. 2. 2. 1.
 2. 1. 2. 1. 2. 2. 1. 1. 1. 2. 2. 2. 1. 1. 1. 2. 2. 2. 1. 2. 2. 2. 1. 2.
 2. 2. 1. 2. 2. 1.]

In [22]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
accuracy_score(y_pred, y_labels)

0.78